# Import Necessary Libraries

In [8]:
import pandas as pd

In [2]:
data = pd.read_csv('globalweather.csv')
data.head()

,country,location_name,latitude,longitude,timezone,last_updated_epoch,last_updated,temperature_celsius,temperature_fahrenheit,condition_text,...,air_quality_PM2.5,air_quality_PM10,air_quality_us-epa-index,air_quality_gb-defra-index,sunrise,sunset,moonrise,moonset,moon_phase,moon_illumination
0,Afghanistan,Kabul,34.52,69.18,Asia/Kabul,1693301400,8/29/2023 14:00,28.8,83.8,Sunny,...,7.9,11.1,1,1,5:24 AM,6:24 PM,5:39 PM,2:48 AM,Waxing Gibbous,93
1,Albania,Tirana,41.33,19.82,Europe/Tirane,1693301400,8/29/2023 11:30,27.0,80.6,Partly cloudy,...,28.2,29.6,2,3,6:04 AM,7:19 PM,6:50 PM,3:25 AM,Waxing Gibbous,93
2,Algeria,Algiers,36.76,3.05,Africa/Algiers,1693301400,8/29/2023 10:30,28.0,82.4,Partly cloudy,...,6.4,7.9,1,1,6:16 AM,7:21 PM,6:46 PM,3:50 AM,Waxing Gibbous,93
3,Andorra,Andorra La Vella,42.50,1.52,Europe/Andorra,1693301400,8/29/2023 11:30,10.2,50.4,Sunny,...,0.5,0.8,1,1,7:16 AM,8:34 PM,8:08 PM,4:38 AM,Waxing Gibbous,93
4,Angola,Luanda,-8.84,13.23,Africa/Luanda,1693301400,8/29/2023 10:30,25.0,77.0,Partly cloudy,...,139.6,203.3,4,10,6:11 AM,6:06 PM,4:43 PM,4:41 AM,Waxing Gibbous,93

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35476 entries, 0 to 35475
Data columns (total 41 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   country                       35476 non-null  object
 1   location_name                 35476 non-null  object
 2   latitude                      35476 non-null  float64
 3   longitude                     35476 non-null  float64
 4   timezone                      35476 non-null  object
 5   last_updated_epoch            35476 non-null  int64
 6   last_updated                  35476 non-null  object
 7   temperature_celsius           35476 non-null  float64
 8   temperature_fahrenheit        35476 non-null  float64
 9   condition_text                35476 non-null  object
 10  wind_mph                      35476 non-null  float64
 11  wind_kph                      35476 non-null  float64
 12  wind_degree                   35476 non-null  int64
 13  wind_direction                35476 non-null  object
 14  pressure_mb                   35476 non-null  int64
 15  pressure_in                   35476 non-null  float64
 16  precip_mm                     35476 non-null  float64
 17  precip_in                     35476 non-null  float64
 18  humidity                      35476 non-null  int64
 19  cloud                         35476 non-null  int64
 20  feels_like_celsius            35476 non-null  float64
 21  feels_like_fahrenheit         35476 non-null  float64
 22  visibility_km                 35476 non-null  float64
 23  visibility_miles              35476 non-null  int64
 24  uv_index                      35476 non-null  int64
 25  gust_mph                      35476 non-null  float64
 26  gust_kph                      35476 non-null  float64
 27  air_quality_Carbon_Monoxide   35476 non-null  float64
 28  air_quality_Ozone             35476 non-null  float64
 29  air_quality_Nitrogen_dioxide  35476 non-null  float64
 30  air_quality_Sulphur_dioxide   35476 non-null  float64
 31  air_quality_PM2.5             35476 non-null  float64
 32  air_quality_PM10              35476 non-null  float64
 33  air_quality_us-epa-index      35476 non-null  int64
 34  air_quality_gb-defra-index    35476 non-null  int64
 35  sunrise                       35476 non-null  object
 36  sunset                        35476 non-null  object
 37  moonrise                      35476 non-null  object
 38  moonset                       35476 non-null  object
 39  moon_phase                    35476 non-null  object
 40  moon_illumination             35476 non-null  int64
dtypes: float64(20), int64(10), object(11)
memory usage: 11.1+ MB

In [4]:
data.describe()

,latitude,longitude,last_updated_epoch,temperature_celsius,temperature_fahrenheit,wind_mph,wind_kph,wind_degree,pressure_mb,pressure_in,...,gust_kph,air_quality_Carbon_Monoxide,air_quality_Ozone,air_quality_Nitrogen_dioxide,air_quality_Sulphur_dioxide,air_quality_PM2.5,air_quality_PM10,air_quality_us-epa-index,air_quality_gb-defra-index,moon_illumination
count,35476.000000,35476.000000,3.547600e+04,35476.000000,35476.000000,35476.000000,35476.000000,35476.000000,35476.000000,35476.000000,...,35476.000000,35476.000000,35476.000000,35476.000000,35476.000000,35476.000000,35476.000000,35476.000000,35476.000000,35476.000000
mean,19.303959,21.788346,1.701368e+09,19.005795,66.210272,7.345527,11.824256,162.082901,1014.000028,29.942740,...,19.745682,588.512991,42.222410,14.679000,8.364466,26.244292,46.994980,1.631695,2.499436,52.584423
std,24.528887,65.689028,4.749262e+06,10.743764,19.338881,5.175441,8.330915,106.793541,7.574909,0.223591,...,11.939061,1430.174838,31.967796,27.052442,23.057534,66.412546,110.310303,1.086605,2.724032,35.245375
min,-41.300000,-175.200000,1.693301e+09,-41.900000,-43.400000,2.200000,3.600000,1.000000,958.000000,28.290000,...,0.000000,96.800000,0.000000,0.000000,0.000000,0.500000,0.500000,1.000000,1.000000,0.000000
25%,3.750000,-6.840000,1.697144e+09,12.000000,53.600000,3.800000,6.100000,70.000000,1010.000000,29.830000,...,10.800000,233.700000,17.500000,1.100000,0.500000,2.600000,4.700000,1.000000,1.000000,18.000000
50%,17.250000,23.240000,1.701458e+09,22.000000,71.600000,5.600000,9.000000,150.000000,1013.000000,29.910000,...,17.600000,292.050000,39.700000,4.500000,1.900000,7.600000,13.200000,1.000000,1.000000,53.000000
75%,41.320000,49.880000,1.705514e+09,27.000000,80.600000,10.300000,16.600000,250.000000,1018.000000,30.060000,...,26.300000,454.000000,61.500000,16.100000,6.400000,23.600000,40.500000,2.000000,2.000000,88.000000
max,64.100000,179.220000,1.709399e+09,45.400000,113.700000,91.900000,148.000000,360.000000,1074.000000,31.710000,...,155.200000,41870.102000,555.000000,575.800000,557.000000,1558.800000,3566.400000,6.000000,10.000000,100.000000

In [5]:
data.isna().sum()

country                         0
location_name                   0
latitude                        0
longitude                       0
timezone                        0
last_updated_epoch              0
last_updated                    0
temperature_celsius             0
temperature_fahrenheit          0
condition_text                  0
wind_mph                        0
wind_kph                        0
wind_degree                     0
wind_direction                  0
pressure_mb                     0
pressure_in                     0
precip_mm                       0
precip_in                       0
humidity                        0
cloud                           0
feels_like_celsius              0
feels_like_fahrenheit           0
visibility_km                   0
visibility_miles                0
uv_index                        0
gust_mph                        0
gust_kph                        0
air_quality_Carbon_Monoxide     0
air_quality_Ozone               0
air_quality_Nitrogen_dioxide    0
air_quality_Sulphur_dioxide     0
air_quality_PM2.5               0
air_quality_PM10                0
air_quality_us-epa-index        0
air_quality_gb-defra-index      0
sunrise                         0
sunset                          0
moonrise                        0
moonset                         0
moon_phase                      0
moon_illumination               0
dtype: int64

In [10]:
data.duplicated().sum()

0

In [6]:
data['last_updated'] = pd.to_datetime(data['last_updated'])
data['condition_text'] = data['condition_text'].str.strip()

In [7]:
data.rename(columns={'temperature_celsius': 'Temperature (Â°C)', 
                        'temperature_fahrenheit': 'Temperature (Â°F)', 
                        'wind_kph': 'Wind (kph)', 
                        'humidity': 'Humidity', 
                        'cloud': 'Cloud', 
                        'precip_mm': 'Precipitation (mm)',
                        'wind_mph': 'Wind Speed (mph)',
                        'wind_kph': 'Wind Speed (kph)'}, inplace=True)

In [11]:
data.to_csv('cleaned_weather_data.csv')